* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.main-container {
    margin-top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tip-container {
    height: 40rem;
    width: 20%;
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

body {
    background-color: hsl(185, 41%, 84%);
}



.total-container {
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    color: white;
    width: 80%;
    margin-right: 5rem;
    margin-left: 5rem;
    height: 30rem;
    margin-top: 5rem;
    justify-content: center;
    border-radius: 25px;

    
}

.totalcontainerbackground {
    display: flex;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.tip-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


.tip-container button {
    background-color: hsl(183, 100%, 15%);
    color: white;
    width: 8rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 10px;
    
}

.tip-btn {
    border: none;
}

.tip-btn:hover {
    background-color: hsl(185, 41%, 84%);
    color: black;
}

.tip-total,
.p-person,
#person-amt {
    padding-left: 1rem;
    padding-bottom: .5rem;
}

#num-people {
    width: 50%;
}

#reset-btn {
    margin: 3rem;
    background-color: hsl(185, 41%, 84%);
    width: 25rem;
    height: 3rem;
    border-radius: 10px;
    border: none;
}